@use '../base/variables' as v;
@use '../base/mixins' as m;

.formulario{
    $modificador:&;
    
    &__fieldset{
        margin-top: 5rem;
        border:none;
        border-top:solid .1rem v.$gris ;
        #{$modificador}__legend{
            text-align: center; 
            margin-bottom: 2rem;
            font-weight:bold;
            font-size: 2rem;
            text-transform: uppercase;
         
        }
    }

    &__enlace{
        display: block;
        color:v.$azul;
        margin-top: .2rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        @include m.telefono {
            display: inline-block;
            margin-right:1rem ;
        }

        &--eliminar{
            color: lighten($color: v.$rojo, $amount: 15%);
            &:hover{
                cursor: pointer;
                color: v.$rojo;
            }
        }
        
        &:hover{
            cursor: pointer;
            color: darken($color: v.$azul, $amount: 25%);
        }
    }

    &__contenedor-campos{
        @include m.desktop {
            @include m.grid(3,2rem);
        }
        
        @include m.grid(2,2rem);
        

    }

    &__campo{
        margin-bottom: 2rem;
        
        #{$modificador}__label{
            display: block;
            margin-bottom: 1rem;
            color: v.$blanco;
            font-size: 2rem;
            font-weight: bold;
        }

        #{$modificador}__input{
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: .5rem;
           &--select{
                width: 50%;
                
           }
        }

        #{$modificador}__input:disabled,
        #{$modificador}__input--select:disabled,
        p{
            background-color: lighten($color: v.$grisOscuro, $amount: 10) !important;
            color:v.$blanco;
            font-weight: bold;
            cursor:not-allowed ;
        }

        

        p{
            border-radius: .5rem;
            padding: .2rem .5rem;
            font-size: 1.8rem;
        }




      
    }

}