@use '../base/variables' as v;
@use '../base/mixins' as m;

.formulario {
    $modificador: &;

    &__fieldset {
        margin-top: 5rem;
        border: none;
        border-top: solid .1rem v.$gris ;

        #{$modificador}__legend {
            text-align: center;
            margin-bottom: 2rem;
            font-weight: bold;
            font-size: 2rem;
            text-transform: uppercase;


        }
    }


    &__descripcion {
        font-size: 1.8rem;

    }

    &__enlace {
        display: block;
        color: v.$azul;
        margin-top: .2rem;
        font-size: 1.7rem;
        margin-bottom: 1rem;

        @include m.telefono {
            display: inline-block;
            margin-right: 1rem;
        }

        &--eliminar {
            color: lighten($color: v.$rojo, $amount: 15%);

            &:hover {
                cursor: pointer;
                color: v.$rojo;
            }
        }

        &:hover {
            cursor: pointer;
            color: darken($color: v.$azul, $amount: 25%);
        }
    }

    &__contenedor {
        margin-bottom: 2rem;

        &--radios {
            display: flex;
            justify-content: start;
            gap: 1rem;

            #{$modificador}__label {
                font-size: 1.5rem;
            }
        }

        #{$modificador}__descripcion {
            font-size: 2rem;
            margin: 1rem 0;
            display: block
        }

    }

    &__contenedor-campos {
        @include m.desktop {
            @include m.grid(3, 2rem);
        }

        @include m.grid(1, 2rem);


    }

    &__radio {
        display: flex;
        gap: 1rem;
    }



    &__campo {
        margin-bottom: 2rem;

        &--extender {
            grid-column: 1 /3;

            @include m.tablet {
                grid-column: unset;
            }


        }

        #{$modificador}__label {

            display: block;
            margin-bottom: 1rem;
            color: v.$blanco;
            font-size: 2rem;
            font-weight: bold;
        }

        #{$modificador}__input {
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: .5rem;

            &--select {
                width: 50%;

            }


        }

        #{$modificador}__input:disabled,
        #{$modificador}__input--select:disabled,
        p {
            opacity: 0.5;
            background-color: lighten($color: v.$gris, $amount: 35%);
            color: v.$negro;
            font-weight: bold;
            cursor: not-allowed;
        }



        p {
            border-radius: .5rem;
            padding: .2rem .5rem;
            font-size: 1.8rem;
        }


        #{$modificador}__descripcion {
            opacity: 0.5;
            background-color: lighten($color: v.$gris, $amount: 35%);
            color: v.$negro;
            font-weight: bold;
            border-radius: .5rem;
            padding: .2rem .5rem;
            font-size: 1.8rem;

            &:hover,
            &--resaltar {
                cursor: pointer;
                background-color: v.$azul;
                opacity: 1;
                color: v.$blanco;
            }
        }



    }



}