@use 'base/variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktop-xl {
    @media (min-width: v.$desktop-xl) {
        @content;
    }
}

@mixin login {
    @media (min-width: v.$login) {
        @content;
    }
}

@mixin login2 {
    @media (min-width: v.$login2) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $colorTexto;
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;
    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: darken( $bgColor, 10% );
        cursor: pointer;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin textoDegradado($color){
    
    background: linear-gradient(to right,$color 0%, lighten($color,30%) 100%); 
    color:transparent; //Aplica el degradado definido como fondo a las letras
    background-clip: text;//Aplica el degradado definido como fondo a las letras
    text-align: center;
    font-size: 7rem;

    @include tablet {
        font-size:10rem;
    }
    
}


@mixin bg-gradient($bg_color){
    background: linear-gradient(to left top, $bg_color, lighten($bg_color,15%));
}

@mixin shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}