@use '../base/mixins' as m;
@use '../base/variables' as v;


body {
    background-color: v.$grisClaro;
    
}

.login {
    $modificador: &;

   @include m.desktop{
    background-color: v.$blanco ;
    width: 80%;
    height: 70%;
    margin-top: 3rem;
    border-radius: 0 0 3rem 3rem;
    border: 1px solid v.$grisClaro;
    @include m.shadow;
    padding: 25px;
    
   }
   
   

    &__tagline{
        font-family: v.$fuente_headings;
        font-weight: 900;
        color:v.$negro;
        font-size: 3rem;
        text-align: center;
    }
    

    &__contenedor {

        width: min(100%, 50rem);
        
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 3rem 5rem;
        border-radius: 2rem;
        margin-bottom: 2rem;
        @include m.shadow;



    }

    &__titulo {
        @include m.textoDegradado(v.$cyan);
        margin-top: 2rem;
        font-size: 4.5rem !important;


    }


    &__descripcion {
        color:v.$cyan;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 3rem;

        @include m.tablet {
            font-size: 2rem;
        }

        text-transform: uppercase;
        text-align: center;
    }


}

.footer{
    margin: 0;
    font-size:2.2rem;
    &--regular{
        font-size:1.5rem;
    }
}
