@use '../base/mixins' as m;
@use '../base/variables' as v;


.categorias {
    &__grid {
        margin-top: 6rem;

        @include m.desktop {
            @include m.grid(2, 2rem);
        }

        @include m.grid(1, 2rem);
    }

}

.categoria {

    &__heading {
        &--ganancias {
            margin: 0;
            color: v.$verde;
        }

        &--impuestos {
            margin: 0;
            color: v.$rojo;
        }
    }

    &__grid {
        padding: 0rem;
        border-radius: 1rem;

        @include m.telefono {
            @include m.grid(2, 0rem);
        }

        @include m.grid(1, 0rem);


    }

    &__bloque {
        text-align: center;
        margin: 0;

        &:hover {

            .categoria__logo,
            .categoria__cantidad,
            .categoria__heading--ganancias,
            .categoria__heading--impuestos {
                color: v.$blanco;
            }

        }

        &--ganancias {

            border: v.$verde .1rem solid;

            &:hover {
                background-color: lighten(v.$verde, 5%);
            }
        }

        &--impuestos {
            border: v.$rojo .1rem solid;

            &:hover {
                background-color: lighten(v.$rojo, 5%);
            }
        }
    }

    &__logo {
        font-size: 2.5rem;
        margin: 0;

        &--ganancias {
            color: v.$verde;
        }

        &--impuestos {
            color: v.$rojo;
        }


    }

    &__cantidad {
        font-weight: bold;
        font-size: 2rem;
        color: v.$verde;
        margin: 0;


        &--impuestos {
            @extend .categoria__cantidad;
            color: v.$rojo;

            &:hover {
                cursor: pointer;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

}