@use '../base/variables' as v;
@use '../base/mixins' as m;

.filtro {
    width: 100%;
    margin-top: 3rem;

    &--no-margin {
        margin: 0;
    }

    @include m.grid(1, 2rem);


    $modificador: &;


    &__select {
        width: 100%;
        padding: .5rem;
        border-radius: .5rem;
    }


    @include m.desktop-xl {
        @include m.grid(3, 2rem);

    }

    &__buscador {
        width: 100%;

        @include m.telefono {
            display: flex;
        }




        #{$modificador}__submit {
            @include m.boton(v.$azul, v.$blanco);
            flex: 0;
        }

        #{$modificador}__input {

            width: 100%;
            padding: 1.2rem 4rem;

            @include m.telefono {
                padding: 0;
                flex: 1;
            }
        }


    }

    &--categorias {
        @extend .filtro;

        @include m.tablet {
            @include m.grid(2, 2rem);

        }
    }

}